<p>
    <input type="hidden" value="{{id}}">
    <textarea></textarea>
    {{!-- <button class="btn btn-primary">add comment</button> --}}
</p>
{{#if comments.length}}
<div class="col-md-6 project-list">

    {{#each comments as |comment|}}
    <div class="row mb-2">
        <div class="col-md-8">
            <h4><a href="/post/{{comment.id}}">{{comment.description}}</a></h4>
            {{/each}}
        </div>
        {{/if}}
    </div>
</div>
<script src="/public/js/comment.js"></script>