<div class="container-fluid">
  <div class="row row-cols-8 d-flex justify-content-evenly">
    <div class="col-md-6">

      <div class="card ">
        <div class="card-body">
          <h4 class="card-title">log in</h4>
          <div>
            <form class="form login-form">
              <div class="form-group row-cols-2">
                <label for="email-login">email:</label>
                <input class="form-input" type="text" id="email-login" />
              </div>
              <div class="form-group row-cols-2">
                <label for="password-login">password:</label>
                <input class="form-input" type="password" id="password-login" />
              </div>
              <div class="form-group">
                <button class="btn btn-primary" type="submit">login</button>
              </div>
            </form>
        </div>
      </div>

      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Signup</h4>

          <form class="form signup-form justify-content-end">
            <div class="form-group row-cols-2">
              <label for="name-signup">name:</label>
              <input class="form-input" type="text" id="name-signup" />
            </div>
            <div class="form-group row-cols-2">
              <label for="email-signup">email:</label>
              <input class="form-input" type="text" id="email-signup" />
            </div>
            <div class="form-group row-cols-2">
              <label for="password-signup">password:</label>
              <input class="form-input" type="password" id="password-signup" />
            </div>
            <div class="form-group">
              <button class="btn btn-primary" type="submit">signup</button>
            </div>
          </form>
        </div>
      </div>

    </div>
  </div>
</div>
<script src="./js/login.js"></script>